/* styles.css */
:root {
  --background-color:white;
  /* --background-color: rgba(55, 195, 206, 0.382); */
  --secondary-backgroud-color: rgba(170, 249, 241, 0.615);
  --border: 0px solid rgba(0, 0, 0, 0.628);
  --font-color: black;
  --secondary-font-color: rgba(0, 0, 0, 0.765);
}


body {
  font-family:"Google Sans", -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu,
    Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  margin: auto;
  width: 80vw;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(0, 0, 0);
  font-size: 1.5rem;

  padding: 1rem;
  margin-bottom: 2rem;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.logo {
  display: flex;
}
.logo-img {
  width: 3rem;
}
.logo-name {
  color: #31CFFF;
  font-size: 2.3rem;
}

.search-form  {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container {
  background-color: var(--secondary-backgroud-color);
  border: var(--border);
  border-radius: 10px;
  /* padding: .25rem 0rem; */
}

.button-container button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  padding: .25rem .5rem;
  border-radius: 10px;
  color: var(--secondary-font-color);
}

button:hover{
  cursor:pointer;
}

button.selected {
  color: var(--font-color);
  font-weight: bold;
  cursor:default;
}

.search-bar {
  display: flex;
  border-radius: 10px;
  border-width: 1px;
  border: 1px solid rgba(0, 0, 0, 0.376);
  background-color: var(--secondary-backgroud-color);
  padding: 0 0.5rem;
  /* margin-right: 3rem; */
}

.search-btn {
  background: transparent;
  border:none;
}

#search-input {
  font-size: 1rem;
  padding: 0.7rem 0.5rem;
  border: none;
  background: transparent;
}

#search-input:focus {
  outline: none;
}

.search-icon {
  width: 1.5rem;
}

.main__top {
  display: flex;
  /* gap: 15rem; */
  /* justify-content: space-between; */
  resize: auto;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--secondary-backgroud-color);
  padding: 2rem 5rem;
  margin-bottom: 6rem;
  /* margin-top: 5rem; */
}

.main__top-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  min-width:15rem; 
  /* background-color: var(--background-color); */
  padding: 1rem;
  /* border-radius: 10px; */
}

.current-temp {
  display: flex;
  align-items: center;
}

.date {
  display: flex;
  gap: 1rem;
}
.location-name {
font-weight: normal;
font-size: 2rem;
}

.main__top-right {
  display: grid;
  overflow: auto;
  /* resize: vertical; */
  /* overflow: auto; */
  flex-grow: 1;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  grid-row-gap: 3rem;
  grid-column-gap: 5rem;
  align-items: end;

  padding: 0 5rem;
  font-size: 1rem;  
}

.main__top-right .value{
  color: var(--secondary-font-color);
  padding-left: 2.5rem;
}

.main__top-right img {
  width: 2rem;
}

.main__bottom-title {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.main__bottom {
  display: flex;
  /* flex: 1 0  */
  /* flex-wrap: wrap; */
  justify-content: space-between;
  background-color: var(--secondary-backgroud-color);
  overflow: hidden;
  padding: 2rem 2rem;
  border-radius: 10px;
}

.main__bottom img {
  width: 3rem;
}

.main__bottom .card {
  display: flex;
  flex: 0 0 10rem;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  text-align: center;

  border: var(--border);
  background-color: white;
  border-radius: 20px;

  gap: .5rem;
  padding: 1rem 1rem;
  /* width: 10rem; */
  /* height: */

  font-size: 1rem;
}

.grid-item {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 1rem;
}

.card img {
  width: 3rem;
  height: 3rem;
}

.card .day {
  font-size: 1rem;
}

.item-title{
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
}

.current-icon {
  width: 4rem;
  margin-right: 1rem;
  margin-left: -1rem;
}

.icon-temp {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.system-unit {
  font-size: 2.5rem;
  /* align-self: flex-start; */
  padding-bottom: 1rem;
}

.speed-unit {
  color: var(--secondary-font-color);
}

.date-time {
  display: flex;
  gap: 1rem;
  color: var(--secondary-font-color);
}


.loader-container{
  width: 100%;
  height:100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color:rgb(121, 199, 202);
  display: flex;
  justify-content: center;
  align-items: center;

    /* fade behavior */
  opacity: 1;
  visibility: visible;
  transition: opacity 500ms ease, visibility 500ms ease;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
}

.error {
  color: rgb(221, 15, 15);
  font-size: 2rem;
}
.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}