/* styles.css */
:root {
  --background-color: rgba(16, 93, 122, 0.142);
  --secondary-backgroud-color: white;
  --border: 2px solid rgba(128, 128, 128, 0.5);
  --font-color: black;
  --secondary-font-color: rgba(0, 0, 0, 0.765);
}


body {
  font-family:
    -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu,
    Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
    background-color: var(--background-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: rgb(0, 0, 0);
  font-size: 1.5rem;

  height: 5vh;
  padding: 4rem 10rem 8rem;
}

.header-right {
  display: flex;
  gap: 1rem;
}

.search-form  {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.button-container {
  background-color: var(--secondary-backgroud-color);
  border: var(--border);
  border-radius: 10px;
  /* padding: .25rem 0rem; */
}

.button-container button {
  border: none;
  outline: none;
  background: transparent;
  font-size: 1.5rem;
  padding: .25rem .5rem;
  border-radius: 10px;
  color: var(--secondary-font-color);
}

button:hover{
  cursor:pointer;
}

button.selected {
  color: var(--font-color);
  font-weight: bold;
  cursor:default;
}

.search-bar {
  display: flex;
  border-radius: 10px;
  border-width: 1px;
  border: var(--border);
  background-color: var(--secondary-backgroud-color);
  padding: 0 0.5rem;
  /* margin-right: 3rem; */
}

#search-input {
  font-size: 1rem;
  padding: 0.7rem 0.5rem;
  border: none;
  background: transparent;
}

#search-input:focus {
  outline: none;
}

.search-icon {
  width: 1.5rem;
}

.main {
  padding: 1rem 10rem;
}

.main__top {
  display: flex;
  /* gap: 18rem; */
  justify-content: space-between;
  border: var(--border);
  border-radius: 20px;
  background-color: var(--secondary-backgroud-color);
  padding: 2rem 5rem;
  margin-bottom: 6rem;
  /* margin-top: 5rem; */
}

.main__top-left {
  font-size: 1.5rem;
}

.main__top-right {
  /* flex-grow: 1; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 3rem;
  /* justify-items: center; */
  align-items: end;

  padding: 0 5rem;

  font-size: 1.5rem;  
}

.main__top-right .value{
  color: var(--secondary-font-color);
  padding-left: 2.5rem;
}

.main__top-right img {
  width: 2rem;
}

.main__bottom-title {
    margin-top: 5rem;
    margin-bottom: 1rem;
}

.main__bottom {
  display: flex;
  justify-content: space-between;
}

.main__bottom img {
  width: 3rem;
}

.main__bottom .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: var(--border);
  background-color: var(--secondary-backgroud-color);
  border-radius: 20px;

  gap: .5rem;
  padding: 1.5rem 1rem;
  width: 12rem;
  /* height: */

  font-size: 1.2rem;
}

.card img {
  width: 5rem;
}

.card .day {
  font-size: 1.5rem;
}

.item-title{
  display: flex;
  gap: 0.5rem;
  /* flex-direction: column; */
}

.current-icon {
  width: 4rem;
  margin-right: 1rem;
  margin-left: -1rem;
}

.icon-temp {
  display: flex;
  align-items: center;
  font-size: 3rem;
}

.system-unit {
  font-size: 2.5rem;
  /* align-self: flex-start; */
  padding-bottom: 1rem;
}

.speed-unit {
  color: var(--secondary-font-color);
}

.date-time {
  display: flex;
  gap: 1rem;
  color: var(--secondary-font-color);
}

.current-conditions {
  color: var(--secondary-font-color);
}

.invisible {
  visibility: hidden;
}
